html {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fcfcfb;
  margin-top: 0.3rem;
}

#screens-wrapper {
  height: 5.1rem;
  width: 10rem;
  background-color: black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.8rem;
}
.screen {
  width: 335px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#operand-screen {
  height: 1.5rem;
  opacity: 0.7;
}
#top-screen{
  display: inline-block;
  height: 1.5rem;
  opacity: 0.7;
  padding-right: 0.2rem;
}
#bottom-screen {
  font-size: 1.7rem;
  height: 1.7rem;
  margin-top: 0.3rem;
}

#key-container {
  display: grid;
  grid-template-columns: repeat(4, 2rem);
  grid-template-rows: repeat(5, 2rem);
  gap: 0.375rem;
  padding: 0.5rem 0.4rem;
  width: 10rem;
  height: 12.45rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: black;
}

#zero{
  grid-column: 1/3;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-size: 0.9rem;
}
.key:hover {
  cursor: pointer;
  opacity: 0.6;
}
.task {
  background-color: #a5a5a5;
  color: black;
}
.number {
  background-color: #333333;
}
.operand {
  background-color: #f29e4b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equal {
  background-color: #f29e4b;
  color: white;
}
